# .gitignore for Extrapolate
**/.cabal-sandbox
**/cabal.sandbox.config
**/idx/
**/dist/
**/log/
etc
.stack-work

**.hspp
**.swp
**.hi
**.o
**.dyn_hi
**.dyn_o
**.hpc
**.hpc-*
**.tix
**~

**/TAGS
**/tags

doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
doc/*.json
README.html

mk/toplibs
tests/test-extrapolate
tests/test-utils
tests/test-derive
tests/test-step-by-step
tests/test-new
eg/sorting
eg/list
eg/int
eg/arith
eg/calculator
eg/parser
eg/gencalc
eg/overflow
eg/overflow8
eg/heap
eg/redblack
eg/word-refinements
eg/*.runtime
bench/*.runtime
bench/true-false
bench/true
bench/false
bench/eq
bench/diff
bench/ord
bench/lazy-sc/list
bench/lazy-sc/sorting
bench/lazy-sc/int
bench/lazy-sc/arith
bench/lazy-sc/calculator
bench/lazy-sc/parser
bench/lazy-sc/gencalc
bench/lazy-sc/word-refinements
bench/lazy-sc/overflow
bench/lazy-sc/heap
bench/lazy-sc/redblack
bench/lazy-sc/lazysmallcheck2012
bench/smartcheck/smartcheck
bench/smartcheck/div0
bench/smartcheck/div0.hs
bench/smartcheck/parser
bench/smartcheck/parser.hs
bench/smartcheck/sorting
bench/smartcheck/word-refinements
bench/smartcheck/overflow
bench/smartcheck/overflow.hs
bench/smartcheck/list
bench/smartcheck/*-out
bench/smartcheck/*.runtime
eg/xmonad/xmonad
eg/RedBlackSetBalanceBug.hs
eg/RedBlackSetDeleteBug.hs
eg/RedBlackSetRemoveBug.hs
eg/redblack-balance-bug
eg/redblack-balance-bug.hs
eg/redblack-delete-bug
eg/redblack-delete-bug.hs
eg/redblack-remove-bug
eg/redblack-remove-bug.hs
